<title>slides mastodon</title>
<meta charset="UTF-8">

<body>
  <section id="1" class="h-center v-center">
    <h1>¡Apostatemos de las redes privativas!</h1>
    <h3>lease cómo: ¿Qué es Mastodon y el fediverso?</h3>
    <footer><a href="https://emojos.in/todon.nl" target="_blank">https://emojos.in/todon.nl</a></footer>
  </section>
  <section id="2">
    <h1>¿Pero.. por qué?</h1>
    <p>Las redes "de ahora" son <b>centralizadas</b>. La entidad que las controla puede no pensar lo mismo que nosotrxs (la mayoría de las veces). Esto causa que:</p>
    <ul>
      <li>Nuestras opciones de reporte son <b>inútiles</b> <img class="inline" src="mutant/emoji/expressions/smileys/other/hot_shit.svg" /></li>
      <li>Las funcionalidades que queremos <b>no existen</b>, porque no les genera dinerillos <img class="inline" src="mutant/emoji/objects/money/moneybag.svg" /><img class="inline" src="mutant/emoji/expressions/smileys/happy_fun/money_face.svg" /></li>
    </ul>
  </section>
  <section id="3" class="v-center h-center">
    <p>Entonces, ¿como resolvemos estos problemas?</p>
  </section>
  <section id="4">
    <h1>Introduciendo: ¡Mastodon!</h1>
    <p>Mastodon es una red social de <b>software libre</b> que es decentralizada. Se conecta a una red de Mastodons llamada <b>el fediverso</b>, que pueden interactuar entre sí aunque no sea el mismo servidor.</p>
    <p>Este concepto de redes intercomunicadas se llama <b>federación</b>, pero es un poco complicado de entender...</p>
  </section>
  <section id="5">
    <h4>Aunque no lo creas, ya estas usando un sistema federado: <b>¡el email!</b></h4>
    <p>Cuando mandas un mail siendo <code>pirata@gmail.com</code>, no pasa nada que tu amigx esté en <code>flisol@yahoo.com</code>. Le mandas un mail, y lo va a recibir igual.</p>
    <p>El fediverso es parecido: yo, siendo <code>@void@im-in.space</code>, puedo seguir a <code>@pip@todon.nl</code> y ver sus <i>toots</i> (los tuits de Mastodon).</p>
    <!--<p>Así podemos compartir fotos de gatos, memes y incluso selfies ¡sin tener que vendernos a corporaciones!</p>-->
  </section>
  <section id="6">
    <h1>Terminología</h1>
    <ul>
      <li><i>Fediverso</i>: una red de <i>instancias</i> conectadas entre sí, formando una gran red social.</li>
      <li><i>Federación</i>: el concepto en el que se basa el fediverso.</li>
      <li><i>Toot</i>: una publicación de Mastodon (parecido a un <i>tuit</i>).</li>
      <li><i>Instancia</i>: un servidor de Mastodon.</li>
      <li><i>CW</i>: <i>Content Warning</i> en inglés. Advertencia de contenido.</li>
    </ul>
  </section>
  <section id="7" class="v-center h-center">
    <h1>¿Que ventajas nos trae Mastodon?</h1>
    <!--<ul>
      <li>Podemos unirte a instancias que comparten tus mismos pensamientos.</li>
      <li>Lxs admins de las instancias pueden <b>bloquear usuarias u otras instancias</b> que no respeten nuestras ideologias.</li>
      <li>Mejores <b>opciones de privacidad</b>.</li>
    </ul>-->
    <!--<ul>
      <li>Podemos ponerle una advertencia a nuestro contenido (nudes! violencia! capitalismo!) así otras usuarias saben que esperar.</li>
      <li>Podemos agregar descripciones a las imagenes para que <b>sean accesibles</b>.</li>
      <li>Podemos expresa
    </ul>-->
  </section>
  <section id="8" class="small">
    <h1>La opción de elegir una instancia</h1>
    <p>Cada instancia está manejada independientemente por sus administradorxs. Pueden elegir a que instancias o usuarias bloquear, un código de conducta, etc.</p>
    <p>Hay más de 3 mil instancias (!!), pero si no te gusta ninguna, podés crear la tuya.</p>
  </section>
  <section id="9" class="v-center">
    <h1>Advertencias de contenido</h1>
    <div class="v-center">
      <img src="img/cw_crear.gif" />
    </div>
  </section>
  <section id="10" class="v-center">
    <div class="v-center">
      <img src="img/cw_ver.gif" />
    </div>
  </section>
  <section id="11">
    <h1>Opciones de privacidad de cada <i>toot</i></h1>
    <ul>
      <li>Público (lo pueden ver todxs)</li>
      <li>No listado (no aparece al menos que tengas el link)</li>
      <li>Solo para seguidorxs (solo les aparece a la gente que te siga)</li>
      <li>Directo (solo la gente que hayas etiquetado, parecido a un mensaje privado)</li>
    </ul>
  </section>
  <section id="12">
    <h1>Y otras cosas copadas...</h1>
    <ul>
      <li>¡Emojis personalizados! <img class="inline" src="mutant/emoji/gsr/gsd/flags/transgender_flag.svg" /><img class="inline" src="mutant/emoji/gsr/gsd/symbols/furry_pride.svg" /><img class="inline" src="mutant/emoji/nature_effects/effects/dizzy.svg" /></li>
      <li>Descripciones de imagenes para gente no vidente/ciegxs</li>
    </li>
  </section>
  <section id="13" class="v-center">
    <h1>¡Asi que unite al fediverso!</h1>
    <h3><a href="https://joinmastodon.org">joinmastodon.org</a></h3>
    <p>Soy <a href="https://im-in.space/@void">@void@im-in.space</a> en el fediverso, <a href="https://t.me/v0idifier">@v0idifier en telegram</a> y <a href="https://twitter.com/v0idifier">twitter</a>, y <a href="mailto:v0id@riseup.net">v0id@riseup.net</a> en email <3</p>
    <p>Gracias a el <a href="https://partidopirata.com.ar"><img class="inline invert" src="img/logo.png" /> Partido Interdimensional Pirata</a> por ayudarme</p>
    <footer class="smaller">
      esta cosa usa los emoji Mutant Standard (mutant.tech), que están licenciados bajo una <img class="inline" src="mutant/cc.svg" />.<br>
      ah, y esta cosa también es <img class="inline" src="mutant/cc.svg" /> :3<br>
      tambíen usé el arte de Librenauta, pero es dominio publico asi que meh jajaj
    </footer> 
  </section>
  <section class="v-center bibliobox">
    <h1>BiblioBox!!</h1>
    <p>Baja libros al celu <img class="inline" src="mutant/emoji/objects/tech/phone_with_arrow.svg" /> gratis</p>
    <p>Red: biblio.box. Password: <code>librosgratis</code></p>
    <p>Después entrá a <code>biblio.box</code> en tu navegador y disfrutá!</p>
  </section>
</body>

<script>
  document.location.hash = '#1'

  function go (amount) {
    console.log(amount)
    const id = new Number(document.location.hash.slice(1)) + amount
    const el = document.getElementById(id)
    if (el) {
      document.location.hash = id
    } else {
      console.log(`couldn't find element with id ${id}`)
    }
  }

  document.addEventListener('keyup', event => {
    switch (event.keyCode) {
      case 37: go(-1); break;
      case 39: go(1); break;
      default:
    }
  })
</script>

<style>
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(fonts/OpenSans-Light.ttf) format('truetype');
}

:root, body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-size: 48px;
  scroll-behavior: smooth;
  overflow-y: hidden;
  font-family: 'Open Sans', sans-serif;
  background: #111;
  color: #eee;
  /*line-height: 1;*/
}

*, *::before, *::after { box-sizing: inherit; }

section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
}

.small { font-size: .9rem; }
.smaller { font-size: .4em; }

footer {
  bottom: 10px;
  left: 10px;
  position: absolute;
  font-size: .7em;
  width: 100%;
}
.bottom { bottom: 10px; position: absolute; }

h1, h2, h3, h4, h5, h6 { margin: 0; line-height: 1.5; }

p { margin: .5em 0; }
ul { margin: 0; }

.h-center { display: flex; align-items: center; }
.v-center { display: flex; justify-content: center; text-align: center; }

div { height: 100%; } div img { height: 100%; }
img { display: inline-block; }
img.inline { display: inline-block; height: 1em; }
.invert { filter: invert(100%); }

a { color: lightskyblue; text-decoration: none; }
a:hover { text-decoration: underline; }

.bibliobox {
  display: none;
  background: white;
  color: black;
}

/* begin custom */
#\31 {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.8), 
      rgba(0, 0, 0, 0.8)
    ),
    url('img/emojos.png');
}

#\33 {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.65), 
      rgba(0, 0, 0, 0.65)
    ),
    url('img/capitalismo_de_plataformas.png');
  background-size: cover;
}

</style>
